<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI design requires compatibility</key>
	<string>YES</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.894460636145-mulqctlklp1alf73u43kbdm5n7vulqga</string>
			</array>
		</dict>
	</array>
	<key>ANNOUNCEMENTS_COMMON_PATH</key>
	<string>$(ANNOUNCEMENTS_COMMON_PATH)</string>
	<key>ANNOUNCEMENTS_HOST</key>
	<string>$(ANNOUNCEMENTS_HOST)</string>
	<key>ANNOUNCEMENTS_PATH</key>
	<string>$(ANNOUNCEMENTS_PATH)</string>
	<key>ANNOUNCEMENTS_SCHEME</key>
	<string>$(ANNOUNCEMENTS_SCHEME)</string>
	<key>SERVER_HOST</key>
	<string>$(SERVER_HOST)</string>
</dict>
</plist>
